.section-1 {
    padding: 50px 100px;

    .text {
        @include flex;
        gap: 10px;
        flex-direction: column;

        span {
            margin-left: 50px;
            color: rgb(255, 60, 0);
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -50px;
                width: 50%;
                height: 2px;
                background: rgb(255, 60, 0);
            }
        }

        h1 {
            font-size: 35px;
            width: 40%;
        }

    }

    .slider {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 10px;
        gap: 10px;
        overflow: hidden;

        .slide {
            width: 100%;
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            cursor: pointer;

            .image {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .about {
                position: absolute;
                width: 100%;
                height: 50%;
                bottom: -180px;
                left: 0;
                background: rgb(255, 60, 0);
                color: #fff;
                padding: 25px 10px;
                transition: all .5s ease;
            }

            &:hover .about {
                bottom: 0;
            }

            &::after {
                content: '$22';
                position: absolute;
                color: #fff;
                top: 0;
                left: 0;
                padding: 20px;
                font-size: 18px;
                background: rgb(255, 60, 0);
            }
        }
    }
}

.section-2 {
    padding: 50px 100px;
    @include flex(center, center);
    gap: 30px;

    .left {
        width: 50%;

        .text {
            @include flex;
            gap: 10px;
            flex-direction: column;

            span {
                margin-left: 50px;
                color: rgb(255, 60, 0);
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -50px;
                    width: 50%;
                    height: 2px;
                    background: rgb(255, 60, 0);
                }
            }

            h1 {
                font-size: 35px;
            }

        }

        p {
            width: 80%;
        }
    }

    .right {
        width: 50%;
        position: relative;

        img {
            width: 100%;
        }

        i {
            position: absolute;
            color: #ffffff;
            background: rgb(255, 60, 0);
            padding: 20px;
            border-radius: 999px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
        }
    }
}
.section-3{
    padding: 50px 100px;
    background: #252525;
    @include flex(center, center);
    gap: 30px;
    .left{
        width: 50%;
        .text {
            @include flex;
            gap: 10px;
            flex-direction: column;
    
            span {
                margin-left: 50px;
                color: #fff;
                position: relative;
    
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -55px;
                    width: 50%;
                    height: 2px;
                    background: #fff
                }
            }
    
            h1 {
                font-size: 35px;
                color: #fff;
            }
    
        }
        p{
            color: #fff;
        }
        .cards{
            margin-top: 20px;
            @include flex(center, center);
            gap: 30px;
            .card{
                position: relative;
                @include flex(center, center);
                flex-direction: column;
                gap: 5px;
                background: #fff;
                padding: 30px 10px;
                i{
                    position: absolute;
                    color: #fff;
                    background: rgb(255, 60, 0);
                    font-size: 30px;
                    padding: 10px;
                    border-radius: 999px;
                    left: 50%;
                    transform: translate(-50%);
                    top: -20px;
                }
            }
        }
    }
    .right{
        width: 50%;
        background: #fff;
        padding: 20px;
        @include flex(center, center);
        flex-direction: column;
        gap: 20px;
        .input-box{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            input{
                width: 100%;
                border: solid 1px gray;
                border-radius: 5px;
                font-size: 18px;
                padding: 5px 10px;
                outline: none;
                &:focus{
                    border: solid 1px rgb(255, 60, 0);
                }
            }
        }
        textarea{
            width: 100%;
            border: solid 1px gray;
            border-radius: 5px;
            font-size: 18px;
            padding: 5px 10px;
            outline: none;
            resize: vertical;
            &:focus{
                border: solid 1px rgb(255, 60, 0);
            }
        }
        button{
            width: 100%;
            background: rgb(255, 60, 0);
            padding: 10px 0;
            color: #fff;
            border: none;
            outline: none;
        }
    }
}

@media(max-width: 991px) {
    .section-1 {
        .slider {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .section-3{
        flex-direction: column;
        .left{
            width: 100%;
            .cards{
                flex-direction: column;
                .card{
                    width: 100%;
                }
            }
        }
        .right{
            width: 100%;
            .input-box{
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

@media(max-width: 767px) {
    .section-2 {
        flex-direction: column;
        .left{
            width: 100%;
        }
        .right{
            width: 100%;
        }
    }
}